In [1]:
import cobra

In [2]:
from cobra import Model,Reaction,Metabolite

In [3]:
model=Model('model')

In [4]:
v0=Reaction('v0')
v0.name='v0'
v0.lower_bound=1
v0.upper_bound=1 

v1=Reaction('v1')
v1.name='v1'
v1.lower_bound=0
v1.upper_bound=1000

v2=Reaction('v2')
v2.name='v2'
v2.lower_bound=0
v2.upper_bound=1000


Mu=Reaction('Mu')
Mu.name='Mu'
Mu.lower_bound=0
Mu.upper_bound=1000

glc=Metabolite('glu',compartment='c')
AA=Metabolite('AA',compartment='c')
biomass=Metabolite('biomass',compartment='c')
v0.add_metabolites({glc:1})
v1.add_metabolites({glc:-1,AA:1})
v2.add_metabolites({AA:-9.09,biomass:1})
Mu.add_metabolites({biomass:-1})
model.add_reactions([v0,v1,v2,Mu])
model.objective='Mu'
model.optimize()

In [5]:
model.summary()

In [9]:
cobra.io.save_json_model(model,"task3.json")

In [10]:
cobra.io.load_json_model("task3.json")

In [11]:
from escher import Builder

In [12]:
builder=Builder(model_json="task3.json")

In [13]:
builder

Builder()